#cookie-policy {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid black;
    text-align: center;
    padding: 5px 0 5px 0;
}

#cookie-policy > button {
    float:right;
    margin-right:15px;
    cursor: pointer;
}